body
{
    /* background: red */
}
.picture
{
    top:100px;
    left:100px;
    width: 360px;
    height: 240px;
    overflow: hidden;
    position: relative;
}
.picture img
{
    width: 100%;
    height: 100%;
}
.overlay
{
    top: 0%;
    left: 0%;
    background-color: rgba(0,0,0, .5);
    width: 100%;
    height:100%;
    position: absolute;
    opacity: 0;
}
.picture:hover .overlay{    opacity: 1; }

.topbottom
{
    top: 5%;
    left: 5%;
    width: 90%;
    height:90%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: absolute;
    transition: .4s ease-in-out;
    transform: scaleX(0)
}
.picture:hover .topbottom
{
    transform: scaleX(1);
}
.rightleft
{
    top: 5%;
    left: 5%;
    width: 90%;
    height:90%;
    border-right: 1px solid white;
    border-left: 1px solid white;
    position: absolute;
    transition: .4s ease-in-out;
    transform: scaleY(0)
}
.picture:hover .rightleft
{
    transform: scaleY(1);
}
